# TODO: replace with actual backend environment variables
PORT=5000
DATABASE_URL=
JWT_SECRET=

# Cloudinary (signed uploads - see README.md "Media Storage" for where to find these)
CLOUDINARY_CLOUD_NAME= uwg40w6l
CLOUDINARY_API_KEY= 245645185937252
CLOUDINARY_API_SECRET= fT766Mr1oM5Gb5OLWJNfZMSkGfk
